:root {
    --basic-white: #ffffff;
    --basic-red: #ee3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --border-grey: #D8D8D8;
    --basic-background: #F1F5F7;
    --special-yellow: #FFBF47;
    --eclipse: #293449;
    --eclipse-lighter: #32425C;
    --azure: #3BBCE3;
    --vanilla: #F9F5F0;
    --ashen: #A9A9A9;
    --sand: #FFD180;
    --graphite: #161D29;
    --dark-green: #518534;
    --pink: #DC91D8;
    --green-lighter: #8ED78F;
    --basic-black: #000000;
    --success: #5FBB2D;
    --error: #BA2732;
    --error-light: #CA2C37;
    --light-grey-ea: #EAEAEA;
    --social: #212A3A;
    --darkest-blue: #1D2739;
    --creamy: #F7F3EC;
    --wolf: #D7DCDE;
    --another-grey: #E5E5E5;
    --basic-background-close: #F1F1F1;
    --smoky: #F4F4F4;
}

body {
    min-width: 940px;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.main-header {
    background-color: var(--basic-background);
}

a {
    text-decoration: none;
}

button {
    border: 0;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    color: var(--basic-white);
    background: none;
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

.main-menu {
    background-color: var(--eclipse);
    color: var(--basic-white);
}

.main-logo {
    width: 220px;
    height: 47px;
    display: block;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    text-align: center;
}

.search::placeholder {
    color: var(--basic-white);
}

.search:focus::placeholder {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.user-link {
    font-size: 18px;
    color: var(--basic-white);
}

.user-link-full {
    background-color: var(--basic-red);
}

.user-link:active {
    opacity: 50%;
    background-color: var(--graphite);
}

.order-button {
    font-size: 18px;
    line-height: 24px;
    white-space: nowrap;
    background-color: var(--basic-green);
    color: var(--basic-white);
}

.order-button:hover {
    background-color: var(--success);
}

.order-button:active {
    opacity: 50%;
}

.button-log-reg {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 21px;
    line-height: 21px;
}

.button-log-reg:hover {
    color: var(--basic-red);
}

.button-log-reg:active {
    color: var(--basic-greylight);
}

.main-header-logo:focus {
    background-color: var(--error);
}

.personal-page {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 21px;
    line-height: 21px;
}

.personal-page:active {
    color: var(--basic-greylight);
}

.personal-page:hover .person path {
    fill: var(--basic-grey);
}

.personal-page:hover .logout path {
    fill: var(--basic-grey);
}

.personal-page:active .person path {
    fill: var(--basic-greylight);
}

.personal-page:active .logout path {
    fill: var(--basic-greylight);
}

.personal-info-item {
    color: var(--eclipse-lighter);
    font-size: 16px;
    line-height: 18px;
}

.personal-info-item:hover {
    color: var(--basic-red);
}

.personal-info-item:active {
    color: var(--basic-greylight);
}

.navigation {
    background-color: var(--eclipse-lighter);
}

.nav-list {
    list-style: none;
}

.nav-list-item {
    font-size: 18px;
    display: inline-block;
    color: var(--basic-white);
}

.nav-list-item a {
    color: var(--basic-white);
}

.nav-list-item:hover {
    background-color: var(--eclipse);
}

.nav-list-item:active {
    background-color: var(--darkest-blue);
    opacity: 50%;
}

.header-description {
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
}

.header-phone {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
    border: 3px solid var(--basic-white);
}

.header-address {
    font-size: 14px;
    line-height: 24px;
    color: var(--eclipse-lighter);
}

.button-registration {
    text-align: center;
}

.slider-item {
    color: var(--basic-white);
    background-color: var(--basic-black);
}

.slider-item-perf {
    background-image: url(../img/background-perf.jpg);
}

.slider-title {
    font-size: 36px;
    line-height: 36px;
}

.slider-desc {
    font-size: 18px;
    line-height: 24px;
}

.regular-btn {
    background-color: var(--basic-red);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
}

.slider-item-drill {
    background-image: url(../img/background-drill.jpg);
}

.promo-list {
    color: var(--basic-white);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.promo-btn {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--basic-white);
}

.promo-btn:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.promo-btn:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.regular-btn:active {
    background-color: var(--error);
}

.regular-btn:hover {
    background-color: var(--error-light);
}

.promo-item-material {
    /*background-image: url(../img/promo/material.svg);*/
    background-color: var(--special-yellow);
    width: 300px;
    height: 123px;
}

.promo-item-instrument {
    /*background-image: url(../img/promo/instrument.svg);*/
    background-color: var(--azure);
    width: 300px;
    height: 123px;
}

.promo-item-tech {
    /*background-image: url(../img/promo/tech.svg);*/
    background-color: var(--pink);
    width: 300px;
    height: 123px;
}

.promo-item-discount {
    /*background-image: url(../img/promo/discount.svg);*/
    background-color: var(--green-lighter);
    width: 300px;
    height: 123px;
}

.promo-item-delivery {
    /*background-image: url(../img/promo/delivery.svg);*/
    background-color: var(--special-yellow);
    width: 300px;
    height: 123px;
}

.popular {
    background-color: var(--vanilla);
    color: var(--eclipse-lighter);
    font-size: 30px;
    line-height: 30px;
}

.products-list {
    font-family: "PT Sans", "Arial", sans-serif;
}

.products-item {
    background-color: var(--basic-white);
    border: 1px solid var(--light-grey-ea);
}

.products-item:hover {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.product-item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.price-before {
    color: var(--ashen);
    font-size: 17px;
    line-height: 18px;
}

.price-after {
    color: var(--basic-white);
    background-color: var(--basic-red);
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
}

.product-button-buy {
    text-transform: uppercase;
    background-color: var(--basic-green);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
}

.product-button-save {
    text-transform: uppercase;
    background-color: var(--basic-white);
    color: var(--eclipse-lighter);
    border: 3px solid var(--basic-green);
    font-size: 14px;
    line-height: 18px;
}

.product-button-buy:hover {
    background-color: var(--success);
}

.product-button-buy:active {
    background-color: var(--dark-green);
}

.product-button-save:hover {
    border: 3px solid var(--eclipse-lighter)
}

.product-button-save:active {
    color: var(--border-grey);
    border: 3px solid var(--border-grey);
}

.creator-item {
    background-color: var(--basic-white);
    border: 1px solid var(--light-grey-ea);
}

.creator-item:hover {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.creator-item:active {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    opacity: 50%;
}

.services-item {
    background-color: var(--eclipse-lighter);
    color: var(--basic-white);
}

.services-title {
    color: var(--basic-black);
    font-size: 30px;
    line-height: 30px;
}

.services-title-delivery {
    color: var(--eclipse-lighter);
}

.services-title-guarantee {
    color: var(--eclipse-lighter);
}

.services-title-credit {
    color: var(--eclipse-lighter);
}

.text {
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 24px;
}

.services-list {
    color: var(--basic-white);
    font-size: 21px;
    line-height: 30px;
}

.services-item {
    background-color: var(--eclipse-lighter);
}

.services-item:hover {
    background-color: var(--eclipse);
    color: var(--basic-white);
}


/*.services-delivery {
    background-image: url(../img/truck.svg);
}*/

.services-item-active {
    background-color: var(--basic-white);
    color: var(--eclipse-lighter);
}


/*.services-guarantee {
    background-image: url(../img/guarantee.svg);
}*/


/*.services-credit {
    background-image: url(../img/credit.svg);
}*/

.info-title {
    font-size: 30px;
}

.company-item {
    font-size: 18px;
}

.catalog-pages-link {
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.catalog-title {
    background-color: var(--basic-background);
}

.catalog-title-item {
    color: var(--eclipse-lighter);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.all-filter {
    font-family: "PT Sans", "Arial", sans-serif;
}

.filter {
    text-transform: uppercase;
}

.catalog-filter {
    background-color: var(--creamy);
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

.filter legend {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
}

fieldset {
    border: 0 none;
}

.filter ul {
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
}

.filter div {
    background-color: var(--creamy);
}

.filter input {
    color: var(--basic-black);
}

.slider-container {
    width: 100%;
}

.price-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 180px;
    height: 2px;
    background: var(--wolf);
    outline: none;
}

.price-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--basic-white);
    cursor: pointer;
    border-radius: 50%;
}

input[type="checkbox"] {
    background-color: var(--basic-greylight);
}

.filter-button {
    width: 220px;
    height: 38px;
    line-height: 18px;
    text-transform: uppercase;
    appearance: none;
    border: 1px solid var(--another-grey);
    box-sizing: border-box;
    background-color: var(--basic-white);
}

.sorting {
    font-family: "PT Sans", "Arial", sans-serif;
    background-color: var(--creamy);
    text-transform: uppercase;
    line-height: 18px;
}

.sorting-title {
    font-size: 13px;
    font-weight: normal;
}

.sorting-item {
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 3px dotted var(--basic-red);
}

.sorting-item:hover {
    opacity: 1;
    border-bottom: 3px solid var(--basic-red);
}

.sorting-item-selected {
    color: var(--basic-red);
    opacity: 1;
    border-bottom: 0px dotted var(--basic-red);
    pointer-events: none;
}

.sorting-button:hover {
    fill: var(--basic-black);
}

.sorting-button-selected {
    fill: var(--basic-red);
}

.pagination-item {
    background-color: var(--basic-white);
}

.pagination-link {
    border: 1px solid var(--another-grey);
    box-sizing: border-box;
    border-radius: 2px;
    color: var(--basic-black);
    line-height: 18px;
}

.pagination-link:hover {
    border: 1px solid var(--basic-greylight);
}

.pagination-link:active {
    border: 1px solid var(--basic-red);
}

.pagination-link-selected {
    border: 1px solid var(--basic-red);
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.about-perf {
    background-color: var(--basic-background);
}

.about-perf-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.feedback {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    background-color: var(--basic-white);
    border-top: 7px solid var(--basic-red);
    font-size: 18px;
    color: var(--basic-black);
}

.feedback input {
    border: 2px solid var(--basic-greylight);
    box-sizing: border-box;
    border-radius: 2px;
    color: var(--basic-black);
}

.feedback ::placeholder {
    color: var(--ashen);
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
}

.feedback-bottom {
    background-color: var(--smoky);
}

.feedback-button {
    color: var(--basic-white);
    background-color: var(--basic-red);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    height: 38px;
    width: 460px;
}

.basket {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    background-color: var(--basic-white);
    border-top: 7px solid var(--basic-red);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.basket-title {
    text-transform: none;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.basket-buttons {
    background-color: var(--basic-background-close);
}

.basket-order {
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.basket-continue {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.main-footer {
    background-color: var(--eclipse-lighter);
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
}

.main-logo-big {
    height: 68px;
}

.footer-text:focus {
    background-color: var(--darkest-blue);
    opacity: 50%;
}

.fnav {
    font-size: 18px;
    display: inline-block;
    color: var(--basic-white);
}

.fnav:hover {
    text-decoration: underline var(--basic-white);
}

.fnav:active {
    opacity: 50%;
    text-decoration: none;
}

.add {
    color: var(--sand);
}

.add:hover {
    text-decoration: underline var(--sand);
}

.add:active {
    opacity: 50%;
    text-decoration: none;
}

.footer-tel {
    color: var(--basic-white);
}

.connection {
    font-size: 16px;
    line-height: 18px;
    background-color: var(--eclipse);
}

.contacts-link {
    color: var(--sand);
}

.contacts-link:hover {
    text-decoration: underline var(--sand);
}

.contacts-link:active {
    color: var(--basic-red);
    text-decoration: none;
}

.social-item {
    background: var(--social);
    border-radius: 50%;
}